<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style>
    body {background-color:#B0E2FF;}
    </style>
</head>
<body>
    <h2 style="font-size:300%; margin: 20px;">Scott Stadum's CV Bot</h2>
    <p style="font-size:200%; margin: 20px;"> Welcome to Scott Stadum's CV Bot.  Feel free to ask it anything about Scott, from his education to work history to his hobbies.  He's a complex character and there's plenty to learn about Scott!</p>
<p>Use these commands to get started:</p>

</body>
</html>
