<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2 style="font-size:300%;">Scott Stadum's CV Bot</h2>
    <p style="font-size:200%;"> Welcome to Scott Stadum's CV Bot.  Feel free to ask it anything about Scott, from his education to work history to his hobbies.  He's complex character and there's plenty to learn about Scott!</p>
</body>
</html>
