<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style>
    body {background-color:#B0E2FF;};
    @import url(https://fonts.googleapis.com/css?family=Lora);
    </style>
</head>
<body>
    <h2 style="font-size:300%; margin: 20px;">Scott Stadum's CV Bot</h2>
    <p style="font-size:200%; margin: 20px;"> Welcome to Scott Stadum's CV Bot.  Feel free to ask it anything about Scott, from his education to work history to his hobbies.  He's a complex character and there's plenty to learn about Scott!</p>
<p margin: 20px;">Use these commands to get started:</p>
<ul>
<li>Hello - to start the conversation</li>
<li>CV - to download a copy of Scott's CV</li>
<li>Linkedin - to see Scott's LinkedIn profile</li>
<li>Art - to see Scott's digital art</li>
<li>Writing - see Scott's writing examples</li>
<li>Blog - see Scott's blog</li>
</ul>
<p margin: 20px;">You can also ask questions like:</p>
<ul>
    <li>Tell me about yourself</li>
    <li>Where are you from?</li>
    <li>What are your goals?</li>
    <li>What are your salary expectations?</li>
</ul>
</ul>
</body>
</html>
